body {


    font-family: 'Poppins', sans-serif;
    background: #FFF;
    margin-left: 24px;
    margin-right: 24px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav a:hover {

    color: rgba(224, 44, 109, 0.87);
    padding: 5px 5px 5px;
}

.title {
    color: #3A3A3A;
}

#small-title {
    font-size: 24px;
    font-weight: 700;
    margin: 24px;
}

.title p {
    font-size: 16px;
    font-weight: 600;
}

.navigate a {
    margin: 5px;
    text-decoration: none;
    color: #3A3A3A;
    width: 1440px;
    height: 3306px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 24px;
    margin-right: 24px;

}

.title a {
    background: #E02C6D;
    text-decoration: none;
    border-radius: 41px;
    padding: 10px 24px;
    color: #FFF;
    display: inline-flex;
    margin-top: 5px;
    align-items: baseline;
}

.navigate nav {
    margin-right: 24px;
}

.Box1 {
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-left: 24px;
    margin-right: 24px;

}

#big-title {

    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: 800;

}

.arrow-head {

    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.title-image {
    width: 440px;
    height: 418px;
    margin-left: 200px;
}

.divider {
    width: 1110px;
    height: 1px;
    border: 0.1px solid rgb(224, 224, 255);
    margin-left: 45px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}



.sponsors {

    margin-top: 35px;

}

.divider2 {
    width: 1110px;
    height: 1px;
    border: 0.1px solid rgb(224, 224, 255);
    margin-top: 100px;
    margin-left: 45px;
}

.box2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 90px;
    margin-left: 24px;
    align-items: center;
    background: #FFF;
}


#medium-title {
    text-align: center;
    margin-top: 100px;
}


.collection1 {
    width: 300px;
    height: 256px;

}

.detail-fonts {
    width: 329px;
    height: 476px;
    border-radius: 5px;
    background: #FFF;
}

.intro-price {
    font-family: Poppins;
    font-size: 28px;

    font-weight: 500;

}

#price {

    font-family: Inter;
    font-size: 24px;
    font-weight: 400;

}


.fonts-ratings .fonts {
    display: flex;
    flex-direction: row;
    margin-left: 1px;
    align-items: baseline;


}

.detail1 {
    color: var(--gray-50, #787885);
}







.checked {
    color: goldenrod;

}

#move {
    display: flex;
    margin-left: 20px;
    font-family: Inter;


}

.more a {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;

}

.more {
    margin-top: 50px;
    margin-left: 200px;
}

.featured-products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}

.info {
    color: #6C6C6C;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

}

.info a {
    background: #E02C6D;
    color: #FFF;
    text-decoration: none;
    display: inline-flex;
    padding: 10px 24px;
    align-items: baseline;

}



#infos {
    color: #0A0826;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    float: left;
}

.featured-products .info {

    margin-left: 90px;
    padding: 40px 40px 40px;
}

.pictures {
    width: 404px;
    height: 270px;
}

footer {
    color: white;
    width: 1440px;
    height: 180px;
    background: #0A0826;
    text-align: center;
    padding: 24px 24px 24px;
    margin-top: 40px;


}

#type-white1 {
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: grey;
}

.social-icons {

    display: inline-flex;
    align-items: flex-start;
    gap: 16px;


}

span {
    width: 32px;
    height: 32px;
}